.count-down {
    min-height: 100%;
    max-width: 60rem;
    width: 100%;
    margin: 0 auto;
    font-family: $secondary-font;
    font-weight: 300;
    color: $color-grey;
    &__top-header {
        font-size: 5rem;
        letter-spacing: 0.4rem;
    }
    .count-down-container {
        max-height: 24rem;
        border-radius: 1.5rem;
        background: rgba(3,203,186,1);
        background: rgba(3,203,186,1);
        background: -moz-linear-gradient(45deg, rgba(3,203,186,1) 0%, rgba(3,203,186,1) 18%, rgba(167,127,205,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(3,203,186,1)), color-stop(18%, rgba(3,203,186,1)), color-stop(100%, rgba(167,127,205,1)));
        background: -webkit-linear-gradient(45deg, rgba(3,203,186,1) 0%, rgba(3,203,186,1) 18%, rgba(167,127,205,1) 100%);
        background: -o-linear-gradient(45deg, rgba(3,203,186,1) 0%, rgba(3,203,186,1) 18%, rgba(167,127,205,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(3,203,186,1) 0%, rgba(3,203,186,1) 18%, rgba(167,127,205,1) 100%);
        background: linear-gradient(45deg, rgba(3,203,186,1) 0%, rgba(3,203,186,1) 18%, rgba(167,127,205,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03cbba', endColorstr='#a77fcd', GradientType=1 );
        &__time {
            font-size: 11rem;
            color: white;
            font-size: bold;
        }
    }
    &__bottom-header {
        font-size: 5rem;
        letter-spacing: 0.4rem;
    }
    &__btn {
        font-size: 2.7rem;
        color: #A77FCD;
        background: white;
        cursor: pointer;
        border: 1px solid #A77FCD;
        border-radius: 0.5rem;
        padding: 2.5rem 4.4rem;
        font-family: $secondary-font;
        width: 24rem;
        &:hover {
        background: linear-gradient(45deg, rgba(3,203,186,1) 0%, rgba(3,203,186,1) 18%, rgba(167,127,205,1) 100%);
        color: white;
        }
    }
    &:after {
        content: "";
        display: block;
        height: 10rem;
      }

}