.u-text-center {
    text-align: center;

}

.u-margin-top-10 {
    margin-top: 10rem;
}

.u-margin-top-5 {
    margin-top: 5rem;
}

.u-margin-bottom-7 {
    margin-bottom: 7.5rem;
}

.u-margin-top-1 {
    margin-top: 1rem;
}

.u-block-center {
    margin: 0 auto;
    display: block;
}